{% extends 'portafolio/base.html' %} {% block title %}About me{% endblock %}
{%block content %} {% load static %}
<section class="about_me">
  <h2>Abaut me</h2>
  <p>
    Hi, I’m William, a systems engineer with a great passion for technology, software development,
    and cybersecurity. Throughout my journey, I’ve worked with technologies like Java (Spring Boot),
    .NET, Python, and Docker, building everything from REST APIs to complete microservices, always
    focused on quality, scalability, and best practices. <br>
       
    I see myself as a committed, proactive person with a strong desire to keep learning and growing,
    both professionally and personally. I enjoy working in teams, sharing knowledge, and contributing 
    to a collaborative environment where ideas can flow and
    projects can evolve solidly. <br>
          
    I currently live in Germany, where in addition to continuing my specialization in software engineering.
    I’m learning German to better integrate and expand my opportunities. Beyond code. I deeply value honesty,
    responsibility, and family balance — pillars that drive me every day. <br>

    I’m also open to collaborating as a freelancer, offering my knowledge and experience to those who need to
    develop a digital product, optimize processes, or create tailored solutions. If you have a project in mind
    or are looking for someone to help bring your ideas to the next level, feel free to reach out. <a href="https://william-rodriguez-cv.up.railway.app/#contacto">I’d love to
    join you on that journey!</a>
  </p>

</section>
<div class="skills">
  <label for="skills">Development Skills</label>
  <select name="" id="skills" onchange="mostrarInformacion()">
    <option value="null" class="null" translate="no"></option>
    <option value="django" class="django">Django</option>
    <option value="flask" class="flask" translate="no">Flask</option>
    <option value="net" class="net" translate="no">.NET</option>
    <option value="redis" class="redis" translate="no">Redis</option>
    <option value="maui" class="maui" translate="no">.NET MAUI</option>
    <option value="docker" class="docker" translate="no">Docker</option>
    <option value="spring" class="spring" translate="no">SpringBoot</option>
    <option value="html" class="html">HTML and CSS</option>
    <option value="sql-server" class="sql-server">SQL Server and MySQL</option>
    <option value="azure-devops" class="azure-devops" translate="no">Azure Devops</option>
    <option value="power-platform" class="power-platform" translate="no">Power Platform</option>
    <option value="uml" class="uml" translate="no">Star UML</option>
    <option value="canva" class="canva" translate="no">Canva</option>
    <option value="figma" class="figma" translate="no">Figma</option>
  </select>
</div>

<div id="info" class="info"></div>
<br />
<br />
<style>
  #info {
    font-size: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    margin-top: 10px;
  }

  .visible {
    display: block;
  }

  #info:not(.visible) {
    display: none;
  }
</style>
<script>
  function mostrarInformacion() {
    var seleccion = document.getElementById("skills").value;
    var informacionDiv = document.getElementById("info");

    if (seleccion == "") {
      informacionDiv.classList.remove("visible");
      informacionDiv.innerHTML = "python";
      return;
    }
  

    var info;
    switch (seleccion) {
      case "django":
        info =
        "I have built monolithic software including this web portfolio, I have the ability to build solutions following the MVC design pattern (Model, View, Controller) and I can also apply techniques with this framework such as web scraping, data analytics in Jupiter, diagram presentation with Streamlit, OOP (object-oriented programming) and structured programming."
        break;
      case "html":
        info =
        "I can program GUI graphical user interfaces with HTML and CSS, providing a pleasant and usable graphical experience. I can also program with Bootstrap and apply quality graphic designs."
        break;
      case "sql-server":
        info =
          "I have experience working with SQL Server and MySQL, designing databases, writing SQL queries, and managing data structures. I am currently deepening my knowledge of PostgreSQL to enhance my experience with relational databases.";
        break;
      case "flask":
        info =
        "For basic pages such as landing pages or static pages with very little interaction, I can build software with this framework by applying basic product modeling and design."
        break;
      case "power-platform":
        info =
          "I have experience with Microsoft Power Platform, where I have developed applications using Power Apps to automate business processes and improve productivity. I have also worked with Power Automate to integrate workflows and automate repetitive tasks.";
        break;
      case "uml":
        info =
          "I am proficient in StarUML for system modeling using UML diagrams, such as class diagrams, use case diagrams, and sequence diagrams, which help me better plan project architecture.";
        break;
      case "canva":
        info =
          "I have experience with Canva, a graphic design tool that I use to create visually appealing content, such as presentations, infographics, and social media materials.";
        break;
        case "net":
        info =
        "I can build applications following the Hexagonal design pattern with C#, I can apply code quality in each of the layers that make up this architecture, in addition to applying pagination and in-memory queries with Redis for greater performance.";
        break;
        case "spring":
        info =
        "I have a solid understanding of Microservices architecture using this framework. I have built microsystems implementing Eureka, config-server, and Gateway, along with the required microservices, applying design patterns, pagination, exposing Endpoints in a graphical interface using Swagger, and persistence with MySQL, SQLite, MongoDB, and SQL Server.";
        break;
        case "redis":
        info =
        "I have experience implementing this tool as a very good option for leveraging in-memory queries, which allows for extremely high performance across different transactions or database queries.";
        break;
        case "maui":
        info =
        "Although Frond is not my strong suit, I have the ability to build applications with this framework. Through MAUI with C#, I can consume the different endpoints to perform the operations required by the project. I have built interfaces, buttons, Loadings, Datespikers, and have also applied coherent and functional interface logic.";
        break;
        case "docker":
        info =
        "A modern, powerful technology for containing or encapsulating source code and ensuring a clean and functional deployment, I have knowledge of the different commands and processes for deployment with this technology.";
        break;
        case "azure-devops":
        info =
        "As a project manager, I have manipulated this platform, which allows for agility and organization in development, repository management, Scrum implementation and control, documentation, and tracking. These are some of the tools offered by this very useful and fascinating platform.";
        break;
        case "figma":
        info =
        "With this tool I have managed to make some basic but important designs that provide clarity when programming an interface. I have knowledge of the tool and my level of manipulation is basic.";
        break;
      default:
        info = "Please Select a option.";
    }

    informacionDiv.classList.add("visible");
    informacionDiv.innerHTML = info;
  }
</script>
{% endblock %}
