{% extends 'portafolio/base.html' %} {% block title %}About me{% endblock %}
{%block content %} {% load static %}
<section class="about_me">
  <h2>Abaut me</h2>
  <p>
    My name is William Rodríguez, and I am originally from Colombia. I am
    currently 35 years old and have a wonderful family consisting of my wife and
    two children. Regarding my education, I obtained a Technologist degree in
    Analysis and Development of Information Systems in Colombia, followed by a
    degree in Computer Systems Engineering. You can find more details about my
    education in the "Studies" section. I am a persevering person, focused on
    achieving my goals, especially in practicing my profession, which is my
    great passion. I constantly train to strengthen my skills and knowledge. I
    love self-learning and believe that research is key to both professional and
    personal growth. Additionally, I have the desire and ambition to become a
    highly skilled software developer, capable of providing innovative and
    efficient solutions. I have been living in Bad Waldsee, Germany, for a year
    now. Although I currently have a basic level of the language, I am studying
    and plan to reach the B1 level by the end of October. I am looking for a
    company that offers me the opportunity to undergo dual training to
    consolidate and expand my knowledge. If you want to know more about me, you
    can contact me through the form on the main page or via my social networks.
  </p>
</section>
{% endblock %}
