{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Mi CV{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portafolio/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <img
            src="{% static 'portafolio/william.jpg' %}"
            alt="William Rodriguez"
          />
          <h1>William Rodriguez</h1>
        </div>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'studies' %}">Studies</a></li>
          <li><a href="{% url 'experience' %}">Experience</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <div class="center-button">
      <a href="{% static 'portafolio/CV_Deutsch_Online.pdf' %}" target="_blank">
        <button class="button" id="button">Download CV</button>
      </a>
    </div>
    <br />

    <footer>
      <p>&copy; 2025 - William Rodriguez</p>
      <p>Desarrollado por Ing. William Rodriguez</p>
    </footer>
  </body>
</html>
<script>
  // Seleccionamos solo los botones "Más info."
  const moreInfoButtons = document.querySelectorAll("a .more-info");

  moreInfoButtons.forEach((button) => {
    button.addEventListener("click", function (event) {
      event.preventDefault(); // Evita la redirección inmediata

      const href = this.closest("a").href; // Obtiene la URL del enlace padre <a>
      if (!href) return; // Validación: si no hay href, no hace nada

      // Aplica la animación
      document.body.classList.add("fade-out");

      // Redirige después de la animación (500 ms coincide con el CSS)
      setTimeout(() => {
        window.location.href = href;
      }, 500);
    });
  });
</script>
<script>
  // para abrir una nueva ventana cuando clic en descargar cv

  document.getElementById("button").addEventListener("click", function () {
    var downloadLink = document.getElementById("downloadLink");

    // Abre el enlace de descarga en una nueva ventana
    window.open(downloadLink.href, "_blank");
  });
</script>
