{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My CV{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portafolio/styles.css' %}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'portafolio/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'portafolio/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'portafolio/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'portafolio/site.webmanifest' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <img
            src="{% static 'portafolio/william.jpg' %}"
            alt="William Rodriguez"
          />
          <h1>William Rodriguez</h1>
        </div>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'studies' %}">Studies</a></li>
          <li><a href="{% url 'experience' %}">Experience</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <div class="center-button">
      <a href="{% static 'portafolio/CV_Deutsch_Online.pdf' %}" target="_blank">
        <button class="button" id="button">Download CV</button>
      </a>
    </div>
    <br />

    <footer>
      <p>&copy; 2025, all rights reserved</p>
      <p>Developed by Ing. William Rodriguez</p>
      <div>
        <a
          href="https://www.facebook.com/willi.rodriguezzzz"
          target="_blank"
          class="social_icon"
          title="https://www.facebook.com/willi.rodriguezzzz"
          ><i class="fab fa-facebook"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/will-dav-rodri-pot-5533901a6/"
          target="_blank"
          class="social_icon"
          title="https://www.linkedin.com/in/will-dav-rodri-pot-5533901a6/"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a
          href="http://wa.me/+4917620692862"
          target="_blank"
          class="social_icon"
          title="http://wa.me/+4917620692862"
          ><i class="fab fa-whatsapp"></i
        ></a>
        <a
          href="https://github.com/William0814"
          target="_blank"
          class="social_icon"
          title="https://github.com/William0814"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
