{% extends 'portafolio/base.html' %} {% block title %}Experience{% endblock %}
{%block content %} {% load static %}

<section class="rys">
  <div class="logo-rys">
    <img src="{% static 'portafolio/rys.jpg' %}" alt="">
  </div>
  <h2>R & S Solutions</h2>
  <p>
    (11/2020 - 11/2022) A company specializing in technical support, both remote
    and on-site. For almost two years, my responsibilities included: Computer
    technical support and maintenance. Software installation and configuration.
    Network administration and configuration. System maintenance and management.
  </p>
</section>
<section class="spa">
  <div class="logo-spa">
    <img src="{% static 'portafolio/spa.png' %}" alt="">
  </div>
  <h2>SPA real estate group</h2>
  <p>
    (12/2022 - 05/2023) One of the largest real estate companies in Colombia,
    where I worked as an IT Analyst. My main responsibilities included: Ensuring
    the functionality and availability of corporate applications. Supporting
    vendors in the implementation of technology projects. Training users in the
    use of technological tools. Coordinating the resolution of incidents with
    suppliers. Evaluating and proposing improvements in IT infrastructure.
    Overseeing the proper functioning of the company’s website and technological
    resources. Developing corporate software with Power Platform.
  </p>
</section>

<section class="tae">
  <div class="logo-tae">
    <img src="{% static 'portafolio/tae.png' %}" alt="">
  </div>
    <h2>Tae SAS</h2>
    <p>
      (05/2023 - 01/2024) A company providing administrative and accounting
      software for the real estate sector. I worked as a National Support and
      Implementation Analyst. My responsibilities included: Providing technical
      support nationwide remotely, by phone, and in person. Registering and
      managing tickets in the CRM, ensuring quality and customer satisfaction.
      Monitoring and following up on tickets with low ratings. Coordinating and
      attending training sessions and service optimization meetings. Performing
      software updates and maintenance for SIMI®. Managing databases following
      established protocols. Executing software implementations, ensuring
      compliance with procedures. Documenting activities and ensuring customer
      satisfaction after each implementation. Coordinating the resolution of
      requests, complaints, and suggestions (PQRS) with the relevant areas.
    </p>
  
</section>
<br>
<hr style="border: 1px solid black; margin: 20px 0;">
<br>
<div class="title_dev_projects"><h1>Dev Projects</h1></div>

<section class="studies">
  <h2>My Personal Web-Page</h2>
  <div class="experiencia-container">
    <p>This Page is my portfolio where you can see all my skills, experiences, studies finishit and in progress,
        This page is build in Django and have JS, Css and HTML tegnologies.</p>
        
       <a
          href="https://github.com/William0814/Meine_CV.git"
          target="_blank"
          class="social_icon_experience"
          title="https://github.com/William0814/Meine_CV.git"
          ><i class="fab fa-github"></i
        ></a>
  </div>
</section>

</section>
<section class="studies">
  <h2>GUI Desktop App</h2>
  <div class="experiencia-container">
    <p>This is a small yet functional desktop text editor developed in Python. The application features an intuitive graphical interface and allows basic text management operations. Although designed as a beginner-friendly project, it is well-structured and follows good development practices.

      The application was built using the library: FreeSimpleGUI, providing a smooth user experience.</p>
    
      <a
          href="https://github.com/William0814/employs_native_app.git"
          target="_blank"
          class="social_icon_experience"
          title="https://github.com/William0814/employs_native_app.git"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="{%static 'portafolio/gui_windows.exe' %}"
          target="_blank"
          class="social_icon_experience"
          title="Dowload .exe for Windows."
          ><i class="fab fa-windows"></i
        ></a>
        <a
          href="{%static 'portafolio/gui_linux' %}"
          target="_blank"
          class="social_icon_experience"
          title="Dowload file for Linux."
          ><i class="fab fa-linux"></i
        ></a>
      <br>
  </div>
</section>

<section class="studies">
  <h2>Landing Page</h2>
  <div class="experiencia-container">
    <p>This small project is a page in homage to the city of Heidelberg. It's one of my favorite cities in Germany.
       Its infrastructure and culture are truly intriguing. It's built entirely in Python, and for the interactions
       and design, I imported a very useful library called Streamlit. Below is the link to the deployed app and, of 
       course, its repository. I hope you like it.</p>
    
      <a
          href="https://github.com/William0814/Heidelberg_page.git"
          target="_blank"
          class="social_icon_experience"
          title="https://github.com/William0814/Heidelberg_page.git"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://heidelbergpage-landing-page.streamlit.app/"
          target="_blank"
          class="social_icon_experience"
          title="Go to the App"
          ><i class="fa-duotone fa-regular fa-share-from-square"></i
        ></a>
      <br>
  </div>
</section>
<section class="studies">
  <h2>NASA API RestFull</h2>
  <div class="experiencia-container">
    <p>This app consumes a NASA API and brings with it every day a new topic of interest 
        about something in space, perhaps a star or celestial body, planet, etc.</p>

        <a
          href="https://github.com/William0814/Student-Project-API-NASA.git"
          target="_blank"
          class="social_icon_experience"
          title="https://github.com/William0814/Student-Project-API-NASA.git"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://project-api-nasa.streamlit.app/"
          target="_blank"
          class="social_icon_experience"
          title="Go to the App"
          ><i class="fa-duotone fa-regular fa-share-from-square"></i
        ></a>
      <br>
  </div>
</section>

{% endblock %}
