{% extends 'portafolio/base.html' %} {% block title %}Experience{% endblock %}
{%block content %} {% load static %}

<section class="rys">
  <h2>R & S Solutions</h2>
  <p>
    (11/2020 - 11/2022) A company specializing in technical support, both remote
    and on-site. For almost two years, my responsibilities included: Computer
    technical support and maintenance. Software installation and configuration.
    Network administration and configuration. System maintenance and management.
  </p>
</section>
<section class="spa">
  <h2>SPA real estate group</h2>
  <p>
    (12/2022 - 05/2023) One of the largest real estate companies in Colombia,
    where I worked as an IT Analyst. My main responsibilities included: Ensuring
    the functionality and availability of corporate applications. Supporting
    vendors in the implementation of technology projects. Training users in the
    use of technological tools. Coordinating the resolution of incidents with
    suppliers. Evaluating and proposing improvements in IT infrastructure.
    Overseeing the proper functioning of the company’s website and technological
    resources. Developing corporate software with Power Platform.
  </p>
</section>

<section class="tae">
  <div>
    <h2>Tae SAS</h2>
    <p>
      (05/2023 - 01/2024) A company providing administrative and accounting
      software for the real estate sector. I worked as a National Support and
      Implementation Analyst. My responsibilities included: Providing technical
      support nationwide remotely, by phone, and in person. Registering and
      managing tickets in the CRM, ensuring quality and customer satisfaction.
      Monitoring and following up on tickets with low ratings. Coordinating and
      attending training sessions and service optimization meetings. Performing
      software updates and maintenance for SIMI®. Managing databases following
      established protocols. Executing software implementations, ensuring
      compliance with procedures. Documenting activities and ensuring customer
      satisfaction after each implementation. Coordinating the resolution of
      requests, complaints, and suggestions (PQRS) with the relevant areas.
    </p>
  </div>
</section>

{% endblock %}
