{% extends 'portafolio/base.html' %} {% block title %}Experience{% endblock %}
{%block content %} {% load static %}

<section class="rys">
  <h2>R & S Solutions</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur iure
    deserunt nulla animi. Perspiciatis doloremque velit reiciendis! Harum totam
    perferendis, ipsum debitis fugiat, voluptas eaque excepturi sunt veritatis a
    odit?
  </p>
</section>
<section class="spa">
  <h2>SPA real estate group</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam expedita
    necessitatibus quidem, delectus quia voluptas quo atque. Quod, vel dicta
    alias enim veniam, molestias, earum tenetur nisi illum!
  </p>
</section>

<section class="tae">
  <div>
    <h2>Tae SAS</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore autem
      officia quasi sunt earum delectus rem quo ea eligendi laborum eveniet quas
      non, suscipit deserunt sit maxime, accusantium tempora?
    </p>
  </div>
</section>

{% endblock %}
