{% extends 'portafolio/base.html' %} {% block title %}Studies{% endblock %}
{%block content %} {% load static %}
<section class="sena">
  <h2>SENA</h2>
  <p>
    (National Learning Service): SENA is a public Colombian institution where I
    obtained my Technologist degree in Analysis and Development of Information
    Systems (duration: 2 years). This training is designed to understand the
    software development life cycle, from analysis to implementation and
    testing. During my studies, I acquired knowledge in: UML Modeling
    Requirements Analysis Design with Balsamiq, StarUML, and WhiteStarUML
    Development in Java (basic), HTML, and CSS Database Management with MySQL
    and SQL Server Software Implementation Technical Documentation
  </p>
</section>
<section class="cun">
  <h2>CUN</h2>
  <p>
    (National Unified Corporation of Higher Education): I continued my studies
    at CUN to obtain a degree in Systems Engineering. This program covers
    various areas of the technology sector, such as data networks, IT security
    auditing, database administration, applied mathematics, modern algebra,
    software development, and more. Thanks to prior studies accreditation, I
    completed the degree in two and a half years (the regular duration is five
    years).
  </p>
</section>
{% endblock %}
