{% extends 'portafolio/base.html' %} {% block title %}Studies{% endblock %}
{%block content %} {% load static %}
<section class="sena">
  <h2>SENA</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus omnis
    perspiciatis voluptatibus, temporibus quaerat natus suscipit odit numquam
    adipisci, dignissimos incidunt, praesentium doloribus iusto? Repellendus
    odio ipsum fuga provident delectus.
  </p>
</section>
<section class="cun">
  <h2>CUN</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    tempore impedit possimus natus tempora sequi, vitae nam aliquid mollitia
    recusandae voluptas suscipit at numquam est beatae sapiente sit harum
    nesciunt?
  </p>
</section>
{% endblock %}
