{% extends 'portafolio/base.html' %} {% block title %}Studies{% endblock %}
{%block content %} {% load static %}
<section class="sena">
  <nav class="navbar">
    <div class="logo-sena">
      <img src="{% static 'portafolio/sena.jpg' %}" alt="" />
    </div>
  </nav>
  <h2>SENA</h2>
  <p>
    (National Learning Service): SENA is a public Colombian institution where I
    obtained my Technologist degree in Analysis and Development of Information
    Systems (duration: 2 years). This training is designed to understand the
    software development life cycle, from analysis to implementation and
    testing. During my studies, I acquired knowledge in: UML Modeling
    Requirements Analysis Design with Balsamiq, StarUML, and WhiteStarUML
    Development in Java (basic), HTML, and CSS Database Management with MySQL
    and SQL Server Software Implementation Technical Documentation
  </p>
</section>
<section class="cun">
  <div class="logo-cun">
    <img src="{% static 'portafolio/cun.png' %}" alt="" />
  </div>
  <h2>CUN</h2>
  <p>
    (National Unified Corporation of Higher Education): I continued my studies
    at CUN to obtain a degree in Systems Engineering. This program covers
    various areas of the technology sector, such as data networks, IT security
    auditing, database administration, applied mathematics, modern algebra,
    software development, and more. Thanks to prior studies accreditation, I
    completed the degree in two and a half years (the regular duration is five
    years). This degree is already recognized as a career between Professional and Master's degrees by the ZAB by the ZAB (Centralstelle
    für ausländisches Bildungswesen)
  </p>
</section>
<section class="unir">
  <div class="logo-unir">
    <img src="{% static 'portafolio/unir.webp' %}" alt="" />
  </div>
  <h2>UNIR</h2>
  <p>
    (International University Foundation of the Rioja) I am currently pursuing a
    postgraduate degree in Software Engineering, which I will complete in 2026.
    This program allows me to deepen my knowledge in advanced software
    development, technology architecture design, and IT project management.
    Through this education, I am acquiring specialized skills in agile
    methodologies, best practices in software engineering, and leadership in
    technological environments. My goal is to build a strong technical and
    strategic foundation that enables me to deliver innovative and efficient
    solutions in the business sector, optimizing processes and contributing to
    organizational growth..
  </p>
</section>
{% endblock %}
